body {
    background: url(./img/nav-bar-sh-01.png) no-repeat 30px 20px ;
    background-color: #202020;
}

.nav-bar .nav-bar-form {
    border: none;
    border-radius: 50px;
    cursor:text;
    background-color:#4e4944 ;
    float: right;
    margin-right: 100px;
    margin-top:-100px;
    padding:10px;
    border: 100px;
}

input[type=search]{
    background: #4e4944 url(./img/search-icon-sh.png) no-repeat 12px 50%;
    background-size: 15px;
    border:none;
    letter-spacing: .1em;
    color: #A7A9A6;
    width: 300px;
    outline:0;
    padding-left:35px;
}

input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    margin-left: -8px;
    z-index: 1;
    width: 100%;
    color: #4e4944;
    background-color: #141616;
    text-align: center;
    font-family: roboto;
    font-size: 0.9em;
}

footer .sign{
    padding-top:12px;
    text-decoration:none;
}

footer .sign a{
    text-decoration:none;
    color: #686867;
}

h3[name=avengerName]{
    color:white;
    font-size:10px;
    max-width:168px;
}

.ratio{
    width:168px;
    height: 168px;
}



#character{
    margin-top:130px;
    margin-bottom:50px;
    margin-left:0px;
    width:100%
}

.avengerCard{
    display:inline-block;
    padding: 10px;
}

.link{
    text-decoration:none;
}

.link :hover{
    transform: scale(1.15);
    transition: 0.1s;
}




